/* 全局无衬线字体 & 平滑滚动 */
* {
    font-family: Sans-serif;
    scroll-behavior: smooth;
}

/* 页面整体布局 */
html,
body {
    margin: 0;
}

mdui-layout {
    height: 100vh !important;
}

/* 列表项强制换行 */
mdui-list-item {
    word-wrap: break-word;
}

/* 卡片样式 */
.card {
    width: 90%;
    margin-left: 5%;
    margin-top: 24px;
}

#multipleSelectDialog .card,
#settings .card {
    width: 100%;
    margin-left: 0;
}

/* 触摸屏链接样式 */
a,
mdui-top-app-bar-title {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    user-select: none;
}

/* 响应式 */
@media(min-width:640px) {
    .card {
        width: 80% !important;
        margin-left: 10% !important;
        margin-top: 32px;
    }
}

@media(min-width:960px) {
    .card {
        width: 65% !important;
        margin-left: 17.5% !important;
    }
}